
@font-face {
    font-family: font2;
    src: url(../BebasNeue-Regular.ttf);
}

body{
    font-family: font2;
    background-image: url(../img/pexels-karolina-grabowska-4862892.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: rgb(46, 94, 139);
    max-width: 1200px;
    margin: 0 auto;
    padding: 30px;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row

}

#title{
    flex-direction: row;
    line-height: 10px;
}

h1{
    font-family: font2;
    font-size: 40px;
    font-weight: 150;
    
}

a{
    color: aliceblue;
}
a:hover{
    color: cornflowerblue;
    transition: 0.4s all;
}

#borda{
    border: 4px solid;
    border-color: cornflowerblue;
    border-radius: 17px;
    padding: 7px;
}
#borda:hover{
    background-color:cornflowerblue;
    color: white;
}

li{
    justify-content: space-between;
    margin: 20px;
    display: inline-block;
}

#lista{
    justify-content: space-between;
}

main{
    display: flex;
    flex-direction: row;
    margin-top: 55px;
}

h2{
    font-size: 46px;
    line-height: 10px;
}

span{
    color: cornflowerblue;
    
}

p{
    line-height: 25px;
    max-width: 400px;
}

img{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 480px;
}

form{
    display: flex;
    flex-direction: column;
    width: 70%;
}

form [type="submit"]{    
    height: 50px;
    width: 50%;
    background-color: cornflowerblue;
    color: white;
    font-weight: bold;
}

form [type="submit"]{
    cursor: pointer;
}



input{
    margin-top: 15px;
    height: 10px;
    padding: 15px;
    border-radius: 20px;
    border: none;
    font-size: 15px;
   
}